.lmj-banner {
    color: #FF6060;
    text-align: right;
    margin-left: 100px;
    margin-right: 100px;
}

.position-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    width: 210px;
    height: 68px;
    display: flex;
    flex-direction: row;
}

.lmjg-banner-welcome-about{
    font-family: roboto;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 10px;
}
.nav_link{
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    
}