.paddingCard{
    padding-top: 50px;
}

@media screen and (max-width: 870px){
    .paddingCard{
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    
}